.education__wrapper {
  height: 100%;
  padding: 0px;
  position: relative;
  font-family: "Alegreya Sans", sans-serif;
}

.education__wrapper::before {
  content: "";
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0;
  right: 0;
  z-index: -1;
  background: linear-gradient(160deg, rgb(17, 172, 239) 45%, white 0);
}

.education__headingwrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.education__innericon {
  background-color: #fdfdfd;
  padding: 18px;
  border-radius: 50%;
}

.education__book {
  color: #11cdef;
  font-size: 30px;
}

.education__heading {
  color: #ffffff;
  padding: 20px;
  font-size: 3rem;
}

/* The actual timeline (the vertical ruler) */
.education__timeline {
  position: relative;
  padding: 30px;
  margin: 0 auto;
  width: 80%;
}

/* The actual timeline (the vertical ruler) */
.education__timeline::after {
  content: "";
  position: absolute;
  width: 5px;
  top: 20%;
  bottom: 0;
  left: 47.5%;
}

/* Container around content */
.education__timelinedots {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.education__timelinedots::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  right: 4%;
  background-color: white;
  border: 4px solid #34dbe7;
  top: 80%;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0%;
}

/* Place the container to the right */
.right {
  left: 45%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 80%;
  width: 0;
  z-index: 1;
  right: 6%;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 80%;
  width: 0;
  z-index: 1;
  left: 5%;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: 3.5%;
}

/* The actual content */
.content {
  padding: 25px 25px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 900;
}
.education__company {
  font-size: 1.8rem;
  font-family: "Alegreya Sans", sans-serif;
}

.education__postion {
  font-size: 1.2rem;
  font-weight: 900;
  font-family: "Alegreya Sans", sans-serif;
}

.education__date {
  font-size: 1rem;
  font-weight: 900;
  color: #546181;
}

@media only screen and (max-width: 991px) {
  .education__heading {
    font-size: 2rem;
  }

  .education__book {
    font-size: 20px;
  }

  .education__timeline {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 235%;
    right: 40%;
  }
  .education__timelinedots::after {
    left: 16%;
    top: 5%;
  }

  .right::before {
    display: none;
  }

  .education__timelinedots {
    left: 12%;
  }

  .education__timelinedots::after {
    left: 0%;
    display: none;
  }

  .left::before {
    display: none;
    left: 20px;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  .content {
    font-size: 4vmin;
  }
}
